<title>Home Page</title>

<!-- Header -->
<!-- End Header -->

<!-- Describes  -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Retrouvez une structure de santé où que vous soyez avec <span class="animate-charcter"> HealthSpace</span></h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Où que vous soyez vous pouvez retrouver une centre de santé ou une pharmacie proche de chez vous.</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#values" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="https://user-images.githubusercontent.com/72025145/136991396-a422098d-46b2-4060-a24a-85459694ba22.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!--Enf describes -->

<!-- Features -->
<section id="values" class="values">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h2>Features</h2>
            <p>What can you doing ?</p>
        </header>
        <div class="row">
            <div class="col-lg-4">
                <div class="box" data-aos="fade-up" data-aos-delay="200">
                    <img src="https://user-images.githubusercontent.com/72025145/136995751-10a31940-5d71-48e8-93d0-5c07e1980e7a.png" class="img-fluid" alt="">
                    <h3>Pharmacie</h3>
                    <p>Whatever where you are, you can find a pharmacy for your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="400">
                    <img src="https://user-images.githubusercontent.com/72025145/136995900-ca15b494-e88d-4b04-ac86-442d7bfc5381.png" class="img-fluid" alt="">
                    <h3>Hospitals</h3>
                    <p>Whatever where you are, you can find a hospital for your needs..</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="600">
                    <img src="https://user-images.githubusercontent.com/72025145/136996462-b2cb0bf9-b59a-4427-b845-b3f69e32a796.png" class="img-fluid" alt="">
                    <h3>Notation</h3>
                    <p>Leave some comments about your experience on a structure.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -End features -->

<section id="portfolio" class="portfolio">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                <p>Contributors</p>
                </header>


                <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-1 col-md-4 portfolio-item filter-app"></div>
                    <div class="col-lg-2 col-md-4 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="https://user-images.githubusercontent.com/72025145/136998754-06dcb64a-ecd0-414a-9a08-05ab2e92c104.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Africa Samuraï</h4>
                                <div class="portfolio-links">
                                    <a href="https://africasamurai.com/en/" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 portfolio-item filter-app"></div>
                    <div class="col-lg-2 col-md-4 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="https://user-images.githubusercontent.com/72025145/136999795-e1a56abe-ea14-4382-8e76-7c8a94cbeaaf.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Dive Into Code</h4>
                                <div class="portfolio-links">
                                    <a href="https://diver.diveintocode.jp/" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 portfolio-item filter-app"></div>
                    <div class="col-lg-2 col-md-4 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="https://user-images.githubusercontent.com/72025145/136999010-b2491b09-fdd6-444f-83d1-21d330ba3003.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Modeste AGBANGLA</h4>
                                <div class="portfolio-links">
                                    <a href="https://modeste-agbangla.me/" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-4 portfolio-item filter-app"></div>
                </div>

            </div>

        </section>


<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="https://user-images.githubusercontent.com/72025145/136993495-8886c9b6-4a30-41fd-a376-9ecfe29a7b09.png" alt="">
                        <span>HealthSpace</span>
                    </a>
                    <p class="mt-5">Take care of yourself and stay healthy.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Pharmacies</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Hospitals</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Porlitics Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>HealthSpace</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://modeste-agbangla.me/">ModesteAGBANGLA</a>
        </div>
    </div>
</footer>
<!-- End footer-->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

